@use "../foundation/variables" as var;

.c-header__link {
    &.is-current {
        text-decoration: none;
        color: red;
    }
}

.c-tableOfContents {
    width: 100%;
    min-height: 300px;
    padding: 20px 28px;
    border-radius: 50px 0 0 50px;
    background-color: var.$white;
    overflow-y: scroll;

    @include var.mq(md) {
        display: none;
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var.$textmain;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .c-tableOfContents__title {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    .c-tableOfContents__items {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-top: 20px;
    }

    .c-tableOfContents__item {
        &.is-h2 {
            &::before {
                content: "●";
                margin-right: 8px;
            }
        }

        &.is-h3 {
            font-size: 14px;

            &::before {
                content: "○";
                margin-right: 8px;
            }
        }

        &.is-h4 {
            font-size: 14px;
            margin-left: 16px;

            &::before {
                content: "-";
                margin-right: 8px;
            }
        }
    }
}
